.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0!important;margin: 0!important;
}
html{padding: 0!important;margin: 0!important;}
body{padding: 0!important;margin: 0!important;}
h1 {
  color: #4CAF50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px;
}
